<% @filmimages.each do |post_image| %>
  <div>
    <%= image_tag post_image.get_image %>
    <p><%= image_tag 'sample-author1.jpg' %></p>
    <p>キャプション：<%= post_image.caption %></p>
    <p>ユーザーネーム：<%= post_image.user.name %></p>
  </div>
<% end %>
