<footer class="fixed-bottom">
 <div class='container mt-5'>
  <div class='row'>
    <div>
     <%= link_to filmimage_index_path, class: 'nav-link text-dark' do %>
      <i class="fas fa-home"></i>
     <% end %>
    </div>

    <div>
     <%= link_to new_filmimage_path, class: 'nav-link text-dark' do %>
      <i class="fas fa-plus-square"></i>
     <% end %>
    </div>

    <div>
     <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>
      <i class="fas fa-user"></i>
     <% end %>
    </div>
  </div>
 </div>
</footer>