<footer>
 <div class='container mt-5'>
  <div class='row'>
   <div class='mx-auto'>
    <li>
     <%= link_to filmimage_index_path, class: 'nav-link text-light' do %> 
      <i class="fas fa-home"></i>
     <% end %>
    </li>
  
    <li>
     <%= link_to new_filmimage_path, class: 'nav-link text-light' do %>
      <i class="fas fa-plus-square"></i>
     <% end %>
    </li>
  
    <li>
     <%= link_to edit_user_path(current_user), class: 'nav-link text-light' do %>
      <i class="fas fa-user"></i>
     <% end %>
    </li>
   </div>
  </div>
 </div>
</footer>